/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 de gen. 2025, 14:20:01
    Author     : aula1PTD1
*/
#moix{ position:relative; top:-500px; left:360px}
#caminar{position:relative; top:-750px; left:280px}
#rotar{position:relative; top:-700px; left:300px}
#imatges{ position:relative; top:-780px; left:280px;}
#idiomes{ position: relative; top: -560px; left: 330px;}
#ahorcado{ position:relative; top:-700px; left:280px;}
#Teclat{position: relative; top: -325px; left: 250px}
#teclat{position: relative; top: -565px; left: 555px}
#on{position: relative; top: -520px; left: 510px}
#off{position: relative; top: -520px; left: 510px}
#sons{position: relative; top: -520px; left: 510px}
#lletresencertades{position: relative; top: -20px; left: 0px;}
#demanessopes{position: relative; top: -60px;left: 90px;}
#paraula{position: relative;top: -70px;left:0px ;}
#titolvides{position: relative;top: -70px;left: 0px;}
#vides{position: relative;top: -90px;left: 0px;}
#moix7{position: relative;top: -110px;left: 65px;}
#lletresfallades{position: relative;top: -100px;left: 0px;}
#etsdelletres{position: relative;top: -140px;left: 80px;}
#lletres{position: relative;top: -120px;left: 0px;}
#credits{position: relative;top: -110px;left: 0px;}
#yt{position: relative;top: -110px; left: 0px;}
#dites{position: relative;top: -110px; left: 0px;}
#wikis{position: relative;top: -140px; left: 250px;}

html {
        background:#222;
        margin:0;
        width:640px;
        height:480px;
    }

    body {
        background:linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
        border:1px solid black;
        padding:10px 20px;
        box-shadow:5px 0px 30px #000;
        border-radius:8px;
        margin:0;
        width:640px;
        height:480px;
    }

    h1, a {
        background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
        border: 1px solid black;
        padding: 1px 1px;
        box-shadow: 5px 0px 30px #000;
        border-radius: 8px;
        text-align: center;
        max-width: 600px;
    }

    h2 {
        color: white;
    }