/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 de gen. 2025, 14:20:01
    Author     : aula1PTD1
*/
#moix{ position:relative; top:-200px; left:318px}
#imatges{ position:relative; top:-400px; left:318px;}
#idiomes{ position: relative; top: -425px; left: 400px;}
#caminar{position:relative; top:-200px; left:318px}
#rotar{position:relative; top:-200px; left:318px}
#ahorcado{ position:relative; top:-400px; left:318px;}